* {
    padding: 14px;
    margin: 0;
}

body{
    background-image: url(fondo\ de\ inicio.jpg);
    background-size: cover;
    background-color: black;
    color: black;
    position: absolute;
}

h1 {
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 20px;
}


.contenido {
    display: flex;
    margin: 60px;
}

.articulos {
    width: 100%;
    border-right: 3px solid rgb(254, 254, 254);
}

.secciones {
    display: flex;
    align-items: center;
    padding: 40px;
}


footer {
    width: 100%;
    height: 200px;
    background-color: rgb(7, 3, 3);
    color: rgb(225, 211, 211);
    margin-top: 40px;
    background-position: center;
}

footer p {
    text-align: center;
    padding: 50px;
    color: aliceblue;
}

h2{
    color: rgb(250, 5, 5);
}

p{
    color: aliceblue;
}
img{
    border-radius: 100%;
    width: 170px;
}

ul, ol {
    list-style: none;
}

.txtvideo{
    color: #fffcfc;
    text-align: center;
    padding: 50px;
}
.correo{
    padding: 10px;
    width: 10px;
    color: #2309eb;
}

